*.pyc
.idea/
.env
project/site_media/media/*
project/site_media/static/*
xml_de_prueba/*
ProvooApp/project/site_media/media/*
ProvooApp/project/site_media/static/*
ProvooApp/xml_de_prueba/*
/home/jouselt/www/provooapp/ProvooApp/static/bower_components/*
