{% load static from staticfiles %}

<!-- jQuery -->
<script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<!-- jQuery RAF (improved animation performance) -->
 <script type="text/javascript" src="{% static "js/jquery.requestAnimationFrame.min.js" %}"></script>
<!-- nanoScroller -->
 <script type="text/javascript" src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<!-- Materialize -->
 <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
<!-- Sortable -->
 <script type="text/javascript" src="{% static "js/Sortable.min.js" %}"></script>
<!-- Main -->
 <script type="text/javascript" src="{% static "js/_con.js" %}"></script>
<!-- Google Prettify -->
 <script type="text/javascript" src="{% static "js/prettify.js" %}"></script>
