{% load staticfiles %}

<link type="text/css" rel="stylesheet" href='{% static "css/materialize.css"  %}'  media="screen,projection"/>
<!-- nanoScroller -->
<link href='{% static "css/nanoscroller.css"  %}' rel='stylesheet'/>
<!-- FontAwesome -->
<link href='{% static "css/font-awesome.min.css" %}' rel='stylesheet'/>
<!-- Material Design Icons -->
<link href='{% static "css/material-design-icons.min.css" %}' rel='stylesheet'/>
<!-- IonIcons -->
<link href='{% static "css/ionicons.min.css" %}' rel='stylesheet'/>
<!-- WeatherIcons -->
<link href='{% static "css/weather-icons.min.css" %}' rel='stylesheet'/>
<!-- Rickshaw -->
<!-- nvd3 -->
<link href='{% static "css/nv.d3.min.css" %}' rel='stylesheet'/>
<!-- jvectormap -->
<link href='{% static "css/jquery-jvectormap.css" %}' rel='stylesheet'/>
<!-- Main -->
<link href='{% static "css/jquery.tagsinput.css" %}' rel='stylesheet'/>

<link href='{% static "css/con-base.css" %}' rel='stylesheet'/>




<link href='{% static "css/styles.css" %}' rel='stylesheet'/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
