{% load static from staticfiles %}

{# <script type="text/javascript" src="{% static "js/_demo.js" %}"></script>#}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.requestAnimationFrame.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.simpleWeather.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.sparkline.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.time.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.pie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.categories.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.flot.tooltip.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nv.d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/rickshaw.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-jvectormap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-jvectormap-world-mill-en.js" %}"></script>
<script type="text/javascript" src="{% static "js/gdp-data.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
<script type="text/javascript" src="{% static "js/Sortable.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/_con.js" %}"></script>
<script type="text/javascript" src="{% static "js/prettify.js" %}"></script>
<script type="text/javascript" src="{% static "js/upload.js" %}"></script>
