{% load i18n %}

{#{% trans "&copy; 2016 &lt;your company here&gt;" %}#}
<footer class="mdl-mega-footer blue-grey darken-4">
    <hr>
    <div class="mdl-mega-footer--middle-section container">
        <div class="mdl-mega-footer--drop-down-section">

            <h1 class="mdl-mega-footer--heading">La compañia</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Trabajos</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">

            <h1 class="mdl-mega-footer--heading">Detalles</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Cómo funciona</a></li>
                <li><a href="#">Tecnologia</a></li>
                <li><a href="#">Recursos Extra</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            {#            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>#}
            <h1 class="mdl-mega-footer--heading">Legal</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
                <li><a href="#">Uso</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">FAQ</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
         Copyright <b>InvMachine</b> 2017 todos los derechos reservados
        </div>

    </div>
</footer>
