{# {% load staticfiles %}#}
{% load static from staticfiles %}
<script type="text/javascript" src="{% static "js/site-5e73bbeeb0.js" %}"></script>
<script type="text/javascript" src="{% static "js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/upload.js" %}"></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-animate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-aria.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-messages.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-material.min.js" %}"></script>

{# <script type="text/javascript" src="{% static "js/chartist.min.js" %}"></script>#}
{# <script type="text/javascript" src="{% static "js/chart.min.js" %}"></script>#}
{# <script type="text/javascript" src="{% static "js/chart-script.js" %}"></script>#}
{# <script type="text/javascript" src="{% static "js/plugins.min.js" %}"></script>#}
