{# {% load staticfiles %}#}
{% load static from staticfiles %}
<script type="text/javascript" src="{% static "js/site-5e73bbeeb0.js" %}"></script>
<script type="text/javascript" src="{% static "js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/upload.js" %}"></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-animate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-aria.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-messages.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/angular-material.min.js" %}"></script>

<!-- jQuery -->
 <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<!-- jQuery RAF (improved animation performance) -->
 <script type="text/javascript" src="{% static "js/jquery.requestAnimationFrame.min.js" %}"></script>
<!-- nanoScroller -->
 <script type="text/javascript" src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<!-- Materialize -->
 <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
<!-- Sortable -->
 <script type="text/javascript" src="{% static "js/Sortable.min.js" %}"></script>
<!-- Main -->
 <script type="text/javascript" src="{% static "js/_con.js" %}"></script>
<!-- Google Prettify -->
 <script type="text/javascript" src="{% static "js/prettify.js" %}"></script>
