{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "Dashboard" %}{% endblock %}
{% block body_class %}home yay-static{% endblock %}
{% block menu-icon %}{% endblock %}
{% load account_tags %}
{% load bootstrap %}

{% block styles %}
  {# {{ block.super }} #}
  {% include "_dashboardStyles.html" %}
{% endblock %}

{% block topbar_base %}
  {% include "components/_topbar_base.html" %}
{% endblock %}

{% block body_base %}
  {% block sidebar %}
    {% include "components/_yaySidebar.html" %}
  {% endblock %}
  <!-- Main Content -->
  <section class="content-wrap">
    {% block dashboard-content %}
    {% endblock %}
  </section>
  <!-- /Main Content -->
{% endblock %}

{% block extra_body_base %}
    {# {% analytics %}#}
    {% block extra_body %}
        {% if  user.is_authenticated %}
          <!-- Modal Trigger -->
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large modal-trigger pulse btn tooltipped pink " href="#modal1" data-position="left" data-delay="50" data-tooltip="Agregar facturas">
                <i class="material-icons" style="font-size:40px;">add</i>
            </a>
            <ul>
                <li>
                  <a href="{% url 'googleImport' %}" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar cuenta de Google">
                  <i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="{% url "social:begin" "msn-live-connect" %}" class="btn-floating blue tooltipped" data-position="left" data-delay="40" data-tooltip="Agregar cuenta de Outlook">
                  <i class="material-icons">mail_outline</i></a></li>
                <li>
                  <a class="btn-floating green modal-trigger tooltipped" data-position="left" data-delay="60" data-tooltip="Agregar factura manualmente" href="#modal2">
                    <i class="material-icons">create</i>
                  </a>
                </li>
            </ul>
          </div>
          <div id="modal1" class="modal-fixed-footer modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-content flow-text card-panel content">
              <div class="modal-header card-title">
                <h3 class="center blue-text text-darken-2" id="exampleModalLabel">
                    Subir Factura
                </h3>
              </div>
              <div class="modal-body card-content row upload-modal">
                <form id=uploadForm action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                  <div class="file-field input-field col s12">
                    <div class="btn waves-effect waves-light indigo darken-4 z-depth-0 z-depth-1-hover">
                      <small>
                        Encuentra tus facturas
                      </small>
                      <input type="file" name="docfile" multiple>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" accept=".xml"
                               placeholder="Sube tus archivos">
                    </div>
                  </div>
                  <br>
                  <div class="col offset-s5">
                    <input type="submit" value="Subir" id="but_upload" class="btn waves-effect waves-light indigo darken-4 z-depth-0 z-depth-1-hover"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal Trigger -->
          <div id="modal2" class="modal-fixed-footer modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-content flow-text row" style="width: 100%">
                <div class="modal-header">
                  <h5 class="modal-title">
                      Agregar Factura Manualmente
                  </h5>
                </div>
                <div class="modal-body">
                  <form id=uploadManual action="{% url 'uploadmanual' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                      <input type="submit" value="Guardar" id="but_upload"
                      class="btn waves-effect waves-light indigo darken-4"/>
                    </div>
                  </form>

                </div>
              </div>
          </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include "_dashboardScripts.html" %}
{% endblock %}
