{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "Registro" %}{% endblock %}
{% block extra_head %}
    <title>InvMachine | Registro </title>
{% endblock %}
{% block body_class %}home{% endblock %}
{% block menu-icon %}{% endblock %}
{% load account_tags %}
{% load bootstrap %}

{% block styles %}
    {# {{ block.super }} #}
    {% include "_dashboardStyles.html" %}
{% endblock %}

  {% block topbar_base %}
    <!--
      Top Navbar
      Options:
      .navbar-dark - dark color scheme
      .navbar-static - static navbar
      .navbar-under - under sidebar
    -->
    <nav class="navbar-top navbar-dark">
      <div class="nav-wrapper">

                  <!-- Sidebar toggle -->
                  <a href="#" class="yay-toggle">
                      <div class="burg1"></div>
                      <div class="burg2"></div>
                      <div class="burg3"></div>
                  </a>
                  <!-- Sidebar toggle -->

                  <!-- Logo -->
                  <a href="index.html" class="brand-logo">
                      <h5>InvMachine</h5>
                  </a>
                  <!-- /Logo -->

                  <!-- Menu -->
                  <ul>
                      <li>
                          <a href="#!" class="search-bar-toggle">
                              <i class="mdi-action-search"></i>
                          </a>
                      </li>
                      <li>
                        {% load notifications_tags %}
                        {% notifications_unread as unread_count %}
                          <a class="dropdown-button" data-activates="test-dropdown" href="#!">
                              <i class="mdi-communication-email"></i>
                              {% if unread_count %}
                              <span class="badge new">{{ unread_count }}</span>
                              {% else %}
                                <span class="badge new">{% notifications_unread %}</span>
                              {% endif %}
                          </a>
                          <div id="test-dropdown" class="dropdown-content dropdown-media">
                              <div class="card-panel">

                                  <div class="media-heading">Messages <a href="{% url 'user_notifications' request.user.id %}"><i class="mdi-content-add-circle-outline"></i></a></div>

                                  <div class="media-footer"><a href="{% url 'user_notifications' request.user.id %}"><i class="mdi-hardware-keyboard-control"></i></a></div>

                                  <div class="row mt-0">
                                      <div class="col s2">
                                          {# <img src="assets/_con/images/user2.jpg" alt="" class="circle responsive-img">#}
                                      </div>
                                      <div class="col s10">
                                          <span class="media-date">9:02 AM</span>
                                          <a href="#" class="media-title">Dianne Chambers</a>
                                          <span>
                                              Ut feugiat tempus felis, sit amet mattis dolor accumsan quis...
                                          </span>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col s2">
                                          <img src="assets/_con/images/user3.jpg" alt="" class="circle responsive-img">
                                      </div>
                                      <div class="col s10">
                                          <span class="media-date">Dec 19</span>
                                          <a href="#" class="media-title">Joanne Stephens</a>
                                          <span>
                                              Proin suscipit lobortis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus...
                                          </span>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </li>
                      <li class="user">
                          <a class="dropdown-button" data-activates="user-dropdown" href="#!">
                             <img src="assets/_con/images/user.jpg" alt="" class="circle"> {{ request.user }} <i class="mdi-navigation-expand-more right"></i>

                          </a>

                          <ul id="user-dropdown" class="dropdown-content">
                              <li>
                                  <a href="page-profile.html">
                                      <i class="fa fa-user"></i> Profile
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'account_settings' %}">
                                      <i class="fa fa-cogs"></i> Settings
                                  </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                  <a href="{% url 'account_logout' %}">
                                      <i class="fa fa-sign-out"></i> Logout
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  <!-- /Menu -->

              </div>
    </nav>
    <!-- /Top Navbar -->
  {% endblock %}

  {% block body_base %}


      <!--
        Yay Sidebar
        Options [you can use all of theme classnames]:
          .yay-hide-to-small         - no hide menu, just set it small with big icons
          .yay-static                - stop using fixed sidebar (will scroll with content)
          .yay-gestures              - to show and hide menu using gesture swipes
          .yay-light                 - light color scheme
          .yay-hide-on-content-click - hide menu on content click

        Effects [you can use one of these classnames]:
          .yay-overlay  - overlay content
          .yay-push     - push content to right
          .yay-shrink   - shrink content width
      -->

      <aside class="yaybar yay-shrink yay-hide-to-small yay-gestures  yay-static">

          <div class="top">
              <div>
                  <!-- Sidebar toggle -->
                  <a href="#" class="yay-toggle">
                      <div class="burg1"></div>
                      <div class="burg2"></div>
                      <div class="burg3"></div>
                  </a>
                  <!-- Sidebar toggle -->

                  <!-- Logo -->
                  <a href="#!" class="brand-logo">
                      <img src="assets/_con/images/logo-white.png" alt="Con">
                  </a>
                  <!-- /Logo -->
              </div>
          </div>

          <div class="nano">
              <div class="nano-content">

                  <ul>
                      <li class="yay-user-info">
                          <a href="{% url 'portafolios' request.user.id %}">
                              <img src="" alt="" class="circle">
                              <h3 class="yay-user-info-name">{{request.user}}</h3>
                              <div class="yay-user-location">
                                  <i class="fa fa-map-marker"></i> Quito, ECU
                              </div>
                          </a>
                      </li>

                      <li class="label">Menu</li>

                      <li class="open">
                          <a href="dashboard.html" class="yay-sub-toggle waves-effect waves-blue"> <i class="fa fa-dashboard"></i> Portafolios
                              <span class="yay-collapse-icon mdi-navigation-expand-more"></span>
                          </a>
                          <ul>

                              <li class="active">
                                    <a href="{% url 'portafolios' request.user.id %}" class=" waves-effect waves-blue">dashboard  </a>
                              </li>
                          </ul>
                      </li>


                      <li>
                          <a href="#" class=" waves-effect waves-blue"> <i class="mdi mdi-av-web"></i> Facturas
                              <span class="badge new">new</span>
                          </a>

                      </li>



                      <li class="label">Stats</li>
                      <li class="content">
                          <span><i class="fa fa-spinner"></i> Server Load</span>
                          <div class="progress small light-green lighten-4">
                              <div class="light-green accent-5" style="width: 37%"></div>
                          </div>

                          <span><i class="fa fa-thumbs-o-up"></i> User Satisfaction</span>
                          <div class="progress small">
                              <div style="width: 91%"></div>
                          </div>
                      </li>
                  </ul>

              </div>
          </div>
      </aside>
      <!-- /Yay Sidebar -->

      <!-- Main Content -->
      <section class="content-wrap">

        {% block dashboard-content %}

        {% endblock %}

      </section>
      <!-- /Main Content -->



  {% endblock %}


  {% block scripts %}
      {{ block.super }}
      {% include "_dashboardScripts.html" %}
    
  {% endblock %}
