{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}{% trans "Registro" %}{% endblock %}
{% block extra_head %}
    <title>InvMachine | Registro </title>
{% endblock %}
{% block body_class %}home{% endblock %}
{% block menu-icon %}{% endblock %}
{% load account_tags %}
{% load bootstrap %}

{% block styles %}
    {# {{ block.super }} #}
    {% include "_dashboardStyles.html" %}
{% endblock %}

  {% block topbar_base %}
    <!--
      Top Navbar
      Options:
      .navbar-dark - dark color scheme
      .navbar-static - static navbar
      .navbar-under - under sidebar
    -->
    <nav class="navbar-top">
      <div class="nav-wrapper">

                  <!-- Sidebar toggle -->
                  <a href="#" class="yay-toggle">
                      <div class="burg1"></div>
                      <div class="burg2"></div>
                      <div class="burg3"></div>
                  </a>
                  <!-- Sidebar toggle -->

                  <!-- Logo -->
                  <a href="index.html" class="brand-logo">
                      {# <img src="assets/_con/images/logo.png" alt="Con">#}
                  </a>
                  <!-- /Logo -->

                  <!-- Menu -->
                  <ul>
                      <li>
                          <a href="#!" class="search-bar-toggle">
                              <i class="mdi-action-search"></i>
                          </a>
                      </li>
                      <li>
                          <a class="dropdown-button" data-activates="test-dropdown" href="#!">
                              <i class="mdi-communication-email"></i>
                              <span class="badge new">2</span>
                          </a>
                          <div id="test-dropdown" class="dropdown-content dropdown-media">
                              <div class="card-panel">

                                  <div class="media-heading">Messages <a href="mail-compose.html"><i class="mdi-content-add-circle-outline"></i></a></div>

                                  <div class="media-footer"><a href="mail-inbox.html"><i class="mdi-hardware-keyboard-control"></i></a></div>

                                  <div class="row mt-0">
                                      <div class="col s2">
                                          {# <img src="assets/_con/images/user2.jpg" alt="" class="circle responsive-img">#}
                                      </div>
                                      <div class="col s10">
                                          <span class="media-date">9:02 AM</span>
                                          <a href="#" class="media-title">Dianne Chambers</a>
                                          <span>
                                              Ut feugiat tempus felis, sit amet mattis dolor accumsan quis...
                                          </span>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col s2">
                                          <img src="assets/_con/images/user3.jpg" alt="" class="circle responsive-img">
                                      </div>
                                      <div class="col s10">
                                          <span class="media-date">Dec 19</span>
                                          <a href="#" class="media-title">Joanne Stephens</a>
                                          <span>
                                              Proin suscipit lobortis porta. Interdum et malesuada fames ac ante ipsum primis in faucibus...
                                          </span>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </li>
                      <li class="user">
                          <a class="dropdown-button" data-activates="user-dropdown" href="#!">
                              {# <img src="assets/_con/images/user.jpg" alt="John Doe" class="circle"> John Doe <i class="mdi-navigation-expand-more right"></i>#}
                              {{ request.user }}
                          </a>

                          <ul id="user-dropdown" class="dropdown-content">
                              <li>
                                  <a href="page-profile.html">
                                      <i class="fa fa-user"></i> Profile
                                  </a>
                              </li>
                              <li>
                                  <a href="mail-inbox.html">
                                      <i class="fa fa-envelope"></i> Messages
                                      <span class="badge new">2 new</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#!">
                                      <i class="fa fa-cogs"></i> Settings
                                  </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                  <a href="page-sign-in.html">
                                      <i class="fa fa-sign-out"></i> Logout
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  <!-- /Menu -->

              </div>
    </nav>
    <!-- /Top Navbar -->
  {% endblock %}

  {% block body_base %}


      <!--
        Yay Sidebar
        Options [you can use all of theme classnames]:
          .yay-hide-to-small         - no hide menu, just set it small with big icons
          .yay-static                - stop using fixed sidebar (will scroll with content)
          .yay-gestures              - to show and hide menu using gesture swipes
          .yay-light                 - light color scheme
          .yay-hide-on-content-click - hide menu on content click

        Effects [you can use one of these classnames]:
          .yay-overlay  - overlay content
          .yay-push     - push content to right
          .yay-shrink   - shrink content width
      -->

      <aside class="yaybar yay-shrink yay-hide-to-small yay-gestures yay-light yay-static">

          <div class="top">
              <div>
                  <!-- Sidebar toggle -->
                  <a href="#" class="yay-toggle">
                      <div class="burg1"></div>
                      <div class="burg2"></div>
                      <div class="burg3"></div>
                  </a>
                  <!-- Sidebar toggle -->

                  <!-- Logo -->
                  <a href="#!" class="brand-logo">
                      <img src="assets/_con/images/logo-white.png" alt="Con">
                  </a>
                  <!-- /Logo -->
              </div>
          </div>

          <div class="nano">
              <div class="nano-content">

                  <ul>
                      <li class="yay-user-info">
                          <a href="page-profile.html">
                              <img src="" alt="John Doe" class="circle">
                              <h3 class="yay-user-info-name">{{request.user}}</h3>
                              <div class="yay-user-location">
                                  <i class="fa fa-map-marker"></i> Las Vegas, NV
                              </div>
                          </a>
                      </li>

                      <li class="label">Menu</li>

                      <li class="open">
                          <a href="dashboard.html" class="yay-sub-toggle waves-effect waves-blue"> <i class="fa fa-dashboard"></i> Dashboards
                              <span class="yay-collapse-icon mdi-navigation-expand-more"></span>
                          </a>
                          <ul>

                              <li class="active">
                                  <a href="dashboard.html" class=" waves-effect waves-blue">  Protafolios   </a>

                              </li>

                              <li>
                                  <a href="dashboard-v1.html" class=" waves-effect waves-blue">  Dashboard v1   </a>

                              </li>

                          </ul>
                      </li>

                      <li>
                          <a href="widgets.html" class=" waves-effect waves-blue"> <i class="fa fa-magic"></i> Widgets </a>

                      </li>

                      <li>
                          <a href="layouts.html" class=" waves-effect waves-blue"> <i class="mdi mdi-av-web"></i> Layouts
                              <span class="badge new">new</span>
                          </a>

                      </li>



                      <li class="label">Stats</li>
                      <li class="content">
                          <span><i class="fa fa-spinner"></i> Server Load</span>
                          <div class="progress small light-green lighten-4">
                              <div class="light-green accent-5" style="width: 37%"></div>
                          </div>

                          <span><i class="fa fa-thumbs-o-up"></i> User Satisfaction</span>
                          <div class="progress small">
                              <div style="width: 91%"></div>
                          </div>
                      </li>
                  </ul>

              </div>
          </div>
      </aside>
      <!-- /Yay Sidebar -->

      <!-- Main Content -->
      <section class="content-wrap">

        {% block dashboard-content %}

        {% endblock %}

      </section>
      <!-- /Main Content -->



  {% endblock %}


  {% block scripts %}
      {{ block.super }}
      {% include "_dashboardScripts.html" %}
      <script>
    /*
     * Flot Line Chart
     */
    (function() {
        var chart = $("#flotLineChart");
        var data1 = {
            data: [
                [1, 50],
                [2, 58],
                [3, 45],
                [4, 62],
                [5, 55],
                [6, 65],
                [7, 61],
                [8, 70],
                [9, 65],
                [10, 70],
                [11, 53],
                [12, 49]
            ],
            label: "Mails"
        };
        var data2 = {
            data: [
                [1, 25],
                [2, 31],
                [3, 23],
                [4, 48],
                [5, 38],
                [6, 40],
                [7, 47],
                [8, 55],
                [9, 43],
                [10, 50],
                [11, 37],
                [12, 29]
            ],
            label: "SMS"
        };
        var data3 = {
            data: [
                [1, 4],
                [2, 13],
                [3, 7],
                [4, 17],
                [5, 20],
                [6, 24],
                [7, 13],
                [8, 17],
                [9, 10],
                [10, 17],
                [11, 6],
                [12, 3]
            ],
            label: "Invoices"
        };
        var options = {
            series: {
                lines: {
                    show: true,
                    lineWidth: 1,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.1
                        }, {
                            opacity: 0.13
                        }]
                    }
                },
                points: {
                    show: true,
                    lineWidth: 2,
                    radius: 3
                },
                shadowSize: 0,
                stack: true
            },
            grid: {
                hoverable: true,
                clickable: true,
                tickColor: "#f9f9f9",
                borderWidth: 0
            },
            legend: {
                // show: false
                backgroundOpacity: 0,
                labelBoxBorderColor: "#fff"
            },
            colors: ["#3f51b5", "#009688", "#2196f3"],
            xaxis: {
                ticks: [
                    [1, "Jan"],
                    [2, "Feb"],
                    [3, "Mar"],
                    [4, "Apr"],
                    [5, "May"],
                    [6, "Jun"],
                    [7, "Jul"],
                    [8, "Aug"],
                    [9, "Sep"],
                    [10, "Oct"],
                    [11, "Nov"],
                    [12, "Dec"]
                ],
                font: {
                    family: "Roboto,sans-serif",
                    color: "#ccc"
                }
            },
            yaxis: {
                ticks: 7,
                tickDecimals: 0,
                font: {
                    color: "#ccc"
                }
            }
        };

        function initFlot() {
            $.plot(chart, [data1, data2, data3], options);
            chart.find('.legend table').css('width', 'auto')
                .find('td').css('padding', 5);
        }
        initFlot();
        $(window).on('resize', initFlot);

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 55,
                color: "#fff",
                padding: '5px 10px',
                'border-radius': '3px',
                'background-color': 'rgba(0,0,0,0.6)'
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        chart.bind("plothover", function(event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + " of " + month + ": " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    }());



    /*
     * Flot Pie Chart
     */
    (function() {
        var chart = $("#flotPieChart");
        var data = [{
            label: "IE",
            data: 19.5,
            color: "#90a4ae"
        }, {
            label: "Safari",
            data: 4.5,
            color: "#7986cb"
        }, {
            label: "Opera",
            data: 2.3,
            color: "#9575cd"
        }, {
            label: "Firefox",
            data: 36.6,
            color: "#4db6ac"
        }, {
            label: "Chrome",
            data: 36.3,
            color: "#64b5f6"
        }];
        var options = {
            series: {
                pie: {
                    innerRadius: 0.5,
                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            legend: {
                backgroundOpacity: 0,
                labelBoxBorderColor: "#fff"
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        };

        function initFlot() {
            $.plot(chart, data, options);
            chart.find('.legend table').css('width', 'auto')
                .find('td').css('padding', 5);
        }
        initFlot();
        $(window).on('resize', initFlot);

    }());


    /*
     * MAP 1
     */
    (function() {
        $('#map1').vectorMap({
            map: 'world_mill_en',
            zoom: 2,
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#e3f2fd', '#2196f3'],
                    normalizeFunction: 'polynomial'
                }]
            },
            backgroundColor: '#fff',
            onRegionTipShow: function(e, el, code) {
                el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
            }
        });
    }());




    /*
     * Rickshaw
     */
    (function() {
        var rickshawSeries = [
            [],
            []
        ];

        // Create random data
        var randomData = new Rickshaw.Fixtures.RandomData(50);
        for (var i = 0; i < 40; i++) {
            randomData.addData(rickshawSeries);
        }

        // Init Richshaw graph
        var element = $("#rickshawGraph");
        var graph = new Rickshaw.Graph({
            element: element[0],
            height: 253,
            interpolation: 'cardinal',
            renderer: 'area',
            series: [{
                data: rickshawSeries[0],
                color: '#4db6ac',
                name: 'HDD'
            }, {
                data: rickshawSeries[1],
                color: '#b2dfdb',
                name: 'CPU'
            }]
        });

        // Add hover info
        new Rickshaw.Graph.HoverDetail({
            graph: graph
        });

        // Render graph
        graph.render();

        // Live Update
        setInterval(function() {
            randomData.removeData(rickshawSeries);
            randomData.addData(rickshawSeries);
            graph.update();
        }, 1000);

        // Responsive
        $(window).on('resize', function() {
            graph.configure({
                width: element.width()
            });
            graph.render();
        });

    }());


    setTimeout(function() {
        Materialize.toast('Welcome to Con!', 1000);
    }, 1000);
    </script>
  {% endblock %}
