{% extends "site_base.html" %}
{% block scripts %}
    <script type="text/javascript" src='/site_media/static/js/site-5e73bbeeb0.js'></script>
    <script type="text/javascript" src="/site_media/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src='/site_media/static/js/material.min.js'></script>
    <script type="text/javascript" src="/site_media/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/site_media/static/js/chartist.min.js"></script>
    <script type="text/javascript" src="/site_media/static/js/chart.min.js"></script>
    <script type="text/javascript" src="/site_media/static/js/chart-script.js"></script>
    <script type="text/javascript" src="/site_media/static/js/plugins.min.js"></script>
    <script type="text/javascript" src="/site_media/static/js/upload.js"></script>

{% endblock %}
{% load i18n %}
{% block head_title %}Dashboard{% endblock %}
{% block body_class %}home{% endblock %}
{% block body_base %}
    {#TODO: DashBoard tempalte Total deducibles poner icono#}
    {#TODO: DashBoard tempalte Tarjeta individuales con iconos#}
    {#TODO: DashBoard tempalte en 'TOTAL DE DEDUCIBLES' arreglar los tamaños#}
    {#TODO: DashBoard tempalte Solo los principales tarjeta con color#}
    {#TODO: DashBoard tempalte modal agragar mensaje de subida satisfactoria de archivos#}
    {#TODO: DashBoard tempalte Modal Sí la factura no pertenece al protafolio mandar mensaje de que se creo uno nuevo#}

    {% block javascript %}
        <!-- <script src="'/site_media/static/js/upload.js'"></script> -->
    {% endblock %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large orange" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="material-icons" style="font-size:40px;">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
    <div class="modal modal-dialog modal-lg fade bd-example-modal-lg modal-content container mdl-grid" tabindex="-1"
         role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="mdl-card col-md-12" style="width: 100%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <br>
                    Subir Factura
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                {#                <form id="uploadForm" action="{% url 'user_dashboard'  user.pk %}" method="POST"#}
                <form id=uploadForm action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Sube tu documento</span>
                            <input type="file" name="docfile" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <input type="submit" value="Upload" id="but_upload"/>
                </form>
            </div>
        </div>
    </div>
    <section class="jumbotron ">
        {#TODO: DashBoard tempalte modal Agragar mensaje de subida satisfactoria de archivos#}
        {#TODO: DashBoard tempalte Modal Sí la factura no pertenece al protafolio mandar mensaje de que se creo uno nuevo#}

        <div class=" m12">
            <div class="card">
                <h4 class="center">
                    Portafolio: {{ portafolio.Nombre }}
                </h4>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-card__actions mdl-card--border center">

                    <small> ns: |</small>
                    <small> RUC: {{ portafolio.Ruc }} |</small>

                    <small> Email: {{ portafolio.UserID }} |</small>


                    <small> Telf: |</small>

                    <small> Dirección: |</small>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card horizontal cardBox">
                    <div class="card-image">
                      <a href="{% url 'user_documentos' request.user.id portafolio.Ruc %}">
                        <i class="material-icons" style="font-size:5rem; line-height: 10rem">credit_card</i></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-title">
                            <h4 class="center">
                                Consumos
                            </h4>
                        </div>
                        <div class="card-content">
                            <p class="center">
                                Total es de <br>
                              ${{ portafolio.total_gastos }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal cardBox">
                    <div class="card-image">
                        <i class="fa fa-percent" style="font-size:5rem; line-height: 10rem"></i>
                    </div>
                    <div class="card-stacked">
                        <div class="card-title">
                            <h4 class="center">
                                Impuestos
                            </h4>
                        </div>
                        <div class="card-content">
                            <p class="center">
                                Total es de <br>
                                ${{ portafolio.total_impuestos }}.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card horizontal cardBox">
                    <div class="card-image">
                        <i class="material-icons" style="font-size:5rem; line-height: 10rem">monetization_on</i>

                    </div>
                    <div class="card-stacked">
                        <div class="card-title">
                            <h4 class="center">Total</h4>
                        </div>
                        <div class="card-content">
                            <p class="center">
                                Total es de <br>
                                ${{ portafolio.total_portafolio }}.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mdl-grid">
        </div>
    </section>
    <section class=" jumbotron">
        <h3 class="col m12 center">Totales de deducibles</h3>
        <hr>
        <div class="row">
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <i class="fa fa-home"></i>
                            <p>Vivienda</p>
                        </div>
                        <div class="center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <span class="glyphicon glyphicon-education"></span>
                            <p>Educación</p>
                        </div>
                        <div class=" center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <i class="material-icons">restaurant</i>
                            <p>Alimentación</p>
                        </div>
                        <div class="center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <i class="fa fa-stethoscope"></i>
                            <p>Salud</p>
                        </div>
                        <div class=" center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <i class="fa fa-stethoscope"></i>
                            <p>Vestimenta</p>
                        </div>
                        <div class=" center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="col s6 m2">
                <div class="card blue accent-1 z-depth-2">
                    <div class="card-content white-text">
                        <div class="card-title center">
                            <i class="fa fa-stethoscope"></i>
                            <p>No deducible</p>
                        </div>
                        <div class=" center">${{ nombre }}</div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="jumbotron">
        <div id="chart-dashboard">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="card">
                        <div class="card-move-up waves-effect waves-block waves-light">
                            <div class="move-up cyan darken-1">
                                <div>
                                    <span class="chart-title white-text">Revenue</span>
                                    <div class="chart-revenue cyan darken-2 white-text">
                                        <p class="chart-revenue-total">$4,500.85</p>
                                        <p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80
                                            %</p>
                                    </div>
                                    <div class="switch chart-revenue-switch right">
                                        <label class="cyan-text text-lighten-5">
                                            Month
                                            <input type="checkbox">
                                            <span class="lever"></span> Year
                                        </label>
                                    </div>
                                </div>
                                <div class="trending-line-chart-wrapper">
                                    <canvas id="trending-line-chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i
                                    class="mdi-content-add activator"></i></a>
                            <div class="col s12 m3 l3">
                                <div id="doughnut-chart-wrapper">
                                    <canvas id="doughnut-chart" height="200"></canvas>
                                    <div class="doughnut-chart-status">4500
                                        <p class="ultra-small center-align">Sold</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m2 l2">
                                <ul class="doughnut-chart-legend">
                                    <li class="mobile ultra-small"><span class="legend-color"></span>Mobile</li>
                                    <li class="kitchen ultra-small"><span class="legend-color"></span> Kitchen</li>
                                    <li class="home ultra-small"><span class="legend-color"></span> Home</li>
                                </ul>
                            </div>
                            <div class="col s12 m5 l6">
                                <div class="trending-bar-chart-wrapper">
                                    <canvas id="trending-bar-chart" height="90"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Revenue by Month <i
                                    class="mdi-navigation-close right"></i></span>
                            <table class="responsive-table">
                                <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="month">Month</th>
                                    <th data-field="item-sold">Item Sold</th>
                                    <th data-field="item-price">Item Price</th>
                                    <th data-field="total-profit">Total Profit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>January</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>February</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>March</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>April</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>May</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>June</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>July</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>August</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Septmber</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Octomber</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>November</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>December</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-move-up teal waves-effect waves-block waves-light">
                            <div class="move-up">
                                <p class="margin white-text">Browser Stats</p>
                                <canvas id="trending-radar-chart" height="114"></canvas>
                            </div>
                        </div>
                        <div class="card-content  teal darken-2">
                            <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i
                                    class="mdi-content-add activator"></i></a>
                            <div class="line-chart-wrapper">
                                <p class="margin white-text">Revenue by country</p>
                                <canvas id="line-chart" height="114"></canvas>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                Revenue by country
                                <i class="mdi-navigation-close right"></i>
                            </span>
                            <table class="responsive-table">
                                <thead>
                                <tr>
                                    <th data-field="country-name">Country Name</th>
                                    <th data-field="item-sold">Item Sold</th>
                                    <th data-field="total-profit">Total Profit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>USA</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Canada</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>

                                    <td>India</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>France</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Austrelia</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
