{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}Dashboard{% endblock %}
{% block body_class %}home{% endblock %}
{% block body_base %}
    <section class="jumbotron">
        <div class="panel teal white-text darken-3 z-depth-2 center">
            <h1>Facturas de "Portafolio N" {{ user.portafolio }}</h1>
            <table class="container-fluid z-depth-3 white highlight black-text">
                <thead>
                <tr>
                    <th>Nro. Fact</th>
                    <th class="mdl-data-table__cell--non-numeric">Empresa</th>
                    <th>RUC</th>
                    <th>Deducible Educacion</th>
                    <th>Deducible Salud</th>
                    <th>Deducible Vestimenta</th>
                    <th>Deducible Alimentación</th>
                    <th>No Deducible</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for documentos in object_list %}
                        <tr>
                            <td>{{ documentos.numeroDeDocumento }}</td>
                            <td>{{ documentos.NombreEmisor }}</td>
                            <td>{{ documentos.rucDocumento }}</td>
                            <td>{{ documentos.deducible_educacion }}</td>
                            <td>{{ documentos.deducible_salud }}</td>
                            <td>{{ documentos.deducible_vestimenta }}</td>
                            <td>{{ documentos.deducible_comida }}</td>
                            <td>{{ documentos.no_deducible }}</td>
                            <td>{{ documentos.totalGastosf }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No hay portfolios registrados.</p>
                {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}