{% extends "dashboard_base.html" %}
{% load i18n %}
{% block head_title %}Dashboard{% endblock %}

{% block dashboard-content %}

<div class="page-title">
    {# <div class="row">#}
        {# <div class="col s12 m9 l10">#}
            <h1>Facturas</h1>
        {# </div>#}
    {# </div>#}
</div>

<div class="card-panel">
           <form action="#!">
               <div class="input-field mail-search">
                   <i class="mdi-action-search prefix"></i>
                   <input id="mail_search" type="text" name="mail_search">
                   <label for="mail_search">Search</label>
               </div>
           </form>
       </div>

       <div class="row mail-inbox">
           <div class="col s12 m3 l2">
               <div class="card-panel">

                   <!-- Mail Sidebar -->
                   <ul class="mail-sidebar">
                       <li class="active">
                           <a href="mail-inbox.html"><i class="mdi-content-inbox"></i> Inbox</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-device-access-time"></i> Snoozed</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-action-done"></i> Done</a>
                       </li>


                       <li>
                           <hr>
                       </li>

                       <li>
                           <a href="mail-inbox.html"><i class="mdi-content-send"></i> Sent</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-action-delete"></i> Trash</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-content-report"></i> Spam</a>
                       </li>


                       <li>
                           <hr>
                       </li>

                       <li>
                           <a href="mail-inbox.html"><i class="mdi-device-airplanemode-on"></i> Travel</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-action-shopping-cart"></i> Purchases</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-social-group"></i> Social</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-file-cloud-download"></i> Updates</a>
                       </li>
                       <li>
                           <a href="mail-inbox.html"><i class="mdi-communication-forum"></i> Forums</a>
                       </li>
                   </ul>
                   <!-- /Mail Sidebar -->

               </div>
           </div>
           <div class="col s12 m9 l10">
               <div class="card-panel">
                   <div class="table-responsive">
                       <table class="table table-bordered">

                           <tbody>
                             {% if object_list %}
                                 {% for notificaciones in object_list %}
                                 <tr class="unread">
                                     <th class="mail-check">
                                         <input type="checkbox" id="checkbox1" />
                                         <label for="checkbox1"></label>
                                     </th>
                                     <td class="mail-contact">
                                         <a href="mail-view.html">{{ notificaciones.recipient }}</a>
                                     </td>
                                     <td class="mail-subject">
                                         <a href="mail-view.html">{{ notificaciones.verb }}</a>
                                     </td>
                                     <td class="mail-date">{{ notificaciones.timesince }}</td>
                                 </tr>

                                 {% endfor %}
                             {% else %}
                                 <p>No hay portfolios registrados.</p>
                             {% endif %}                  
                           </tbody>
                       </table>
                   </div>

                   <div class="center-align">
                       <a href="#!" class="btn-flat waves-effect grey-text text-darken-1">Load More</a>
                   </div>
               </div>
           </div>
       </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script> $('#table2').DataTable({ "iDisplayLength": 5, "aLengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "all"] ] }); </script>
{% endblock %}
