{% extends "theme_bootstrap/base.html" %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% block head_title_base %}
    {% if SITE_NAME %}InvMachine | {% endif %}
    {% block head_title %} {% endblock %}
{% endblock %}
{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}
{% block wrapper_class %}{% endblock %}
{% block body_class %}fullBody row{% endblock %}
{# {% block wrapper_class %}blue-grey darken-4{% endblock %} #}

{% block topbar_base %}
<header>
  <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top bg-inverse  nav{% endblock %}">
      <div class="container-fluid">
        <div class="navbar-header ">
            {# TODO: verificar que estoy en home y de ser asi no mostrar el icono #}
            {% block menu-icon %}
              <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-bars"></i>
              </a>
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'home' %}" class="white-text">InvMachine <span class="sr-only">(current)</span></a></li>
          </ul>
          <div class="collapse navbar-collapse navbar-responsive-collapse">
              {% block nav %}
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
              {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}

<main class="mdl-layout__content">


    {% block body_base %}
    <section id="content_body">
        <div class="container">
            {% include "_messages.html" %}
            {% block body %}
            {% endblock %}
        </div>
    </section>
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}



    {% block extra_body_base %}
        {% analytics %}
        {% block extra_body %}
            {% if  user.is_authenticated %}
                                    <!-- Modal Trigger -->

                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large modal-trigger pulse btn  pink " href="#modal1">
                        <i class="material-icons" style="font-size:40px;">add</i>
                    </a>
                    <ul>
                        <li>
                          <a href="{% url 'googleImport' %}" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar cuenta de Google">
                          <i class="fa fa-google"></i></a>
                        </li>
                        <li><a href="{% url "social:begin" "msn-live-connect" %}" class="btn-floating blue"><i
                                class="material-icons">mail_outline</i></a></li>
                        <li><a class="btn-floating green modal-trigger" href="#modal2"><i class="material-icons">create</i></a></li>

                    </ul>
                </div>
                <div id="modal1" class="modal modal-dialog modal fade bd-example-modal-lg modal-content container mdl-grid"
                     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="mdl-card col-md-12">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <br>
                                Subir Factura
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form id=uploadForm action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Sube tu documento</span>
                                        <input type="file" name="docfile" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" accept=".xml"
                                               placeholder="Upload one or more files">
                                    </div>
                                </div>
                                <br>
                                <input type="submit" value="Upload" id="but_upload"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="modal2" class="modal modal-dialog modal fade invCreate modal-content container mdl-grid"
                     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="mdl-card col-md-12" style="width: 100%">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <br>
                                Agregar Factura Manualmente
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form id=uploadInvoice action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-field col s6">
                                  <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                  <label for="first_name">Nombre</label>
                                </div>
                                <div class="input-field col s6">
                                  <input placeholder="RUC" id="RUC" type="text" class="validate">
                                  <label for="first_name">RUC</label>
                                </div>
                                <input type="submit" value="Upload" id="but_upload"/>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
</main>

{% block footer_base %}{% endblock %}
