{% extends "theme_bootstrap/base.html" %}

{% load pinax_webanalytics_tags %}
{% load i18n %}

{% block head_title_base %}
    {% if SITE_NAME %}invMachine | {% endif %}
    {% block head_title %} {% endblock %}
{% endblock %}
{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}



{% block wrapper_class %} mdl-layout mdl-js-layout mdl-layout--fixed-header{% endblock %}
{% block body_class %}fullBody{% endblock %}
{% block topbar_base %}
    <header class="mdl-layout__header blue-grey darken-4 white-text z-depth-2 ">
        <div class="mdl-layout__header-row ">
            <div class="navbar-header ">
                {% block site_brand %}
                    <span class="mdl-layout-title ">
                    <a class="navbar-brand white-text" href="{% url "home" %}">
                        InvMachine.con
                    </a>
                    </span>
                {% endblock %}
            </div>
            <div class="mdl-layout-spacer"></div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                {% block nav %}
                {% endblock %}
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer blue darken-4 white-text">
        <span class="mdl-layout-title">Efact</span>
        <nav class="mdl-navigation">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field blue darken-2">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <a class="mdl-navigation__link hoverable white-text" href="{% url 'home' %}">Home</a>
            {% if request.user.is_authenticated %}
                {# <a class="mdl-navigation__link hoverable" href="{% url 'portafolios' request.user.id %}" tabindex="-1">Portafolios</a>#}
                <a class="mdl-navigation__link hoverable white-text" href="{% url 'portafolios' request.user.id %}"
                   tabindex="-1">Portafolios</a>
                {# <a class="mdl-navigation__link hoverable" href="{% url 'facturas' %}">Facturas</a>#}
                <a class="mdl-navigation__link hoverable white-text" id="account_logout"
                   href="{% url 'account_logout' %}">
                    <i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
            {% else %}
                <a class="mdl-navigation__link hoverable white-text"
                   href="{% url 'account_login' %}">{% trans "Log in" %}</a>
                {% if ACCOUNT_OPEN_SIGNUP %}
                    <a class="mdl-navigation__link hoverable white-text"
                       href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
                {% endif %}
            {% endif %}
        </nav>
    </div>
{% endblock %}

<main class="mdl-layout__content">
    {#TODO: barra lateral, tener un icono portafolios => click => datos y estadísticas dashboard actual#}
    {#TODO: barra lateral también icno de lista de facturas#}
    {#TODO: barra lateral que haya un icono de busqueda#}
    {#    {% block body_base %}{% endblock %}#}
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}

    {% block footer_base %}
        {% include "_footer.html" %}
    {% endblock %}

    {% block extra_body_base %}
        {% analytics %}
        {% block extra_body %}
            {% if  user.is_authenticated %}
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large teal accent-4" data-toggle="modal" data-target=".bd-example-modal-lg">
                        <i class="material-icons" style="font-size:40px;">add</i>
                    </a>
                    <ul>
                        <li><a href="{% url "social:begin" "google-oauth2" %}" class="btn-floating red"><i
                                class="fa fa-google"></i></a></li>
                        <li><a href="{% url "social:begin" "msn-live-connect" %}" class="btn-floating blue"><i
                                class="material-icons">mail_outline</i></a></li>
                        {#                        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>#}
                        {#                        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>#}
                    </ul>
                </div>
                <div class="modal modal-dialog modal-lg fade bd-example-modal-lg modal-content container mdl-grid"
                     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="mdl-card col-md-12" style="width: 100%">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <br>
                                Subir Factura
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id=uploadForm action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Sube tu documento</span>
                                        <input type="file" name="docfile" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" accept=".xml"
                                               placeholder="Upload one or more files">
                                    </div>
                                </div>
                                <br>
                                <input type="submit" value="Upload" id="but_upload"/>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
</main>
