{% extends "theme_bootstrap/base.html" %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% block head_title_base %}
    {% if SITE_NAME %}InvMachine | {% endif %}
    {% block head_title %} {% endblock %}
{% endblock %}
{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}
{% block styles %}
    {% include "_styles.html" %}
{% endblock %}
{% block wrapper_class %}{% endblock %}
{% block body_class %}fullBody row{% endblock %}
{# {% block wrapper_class %}blue-grey darken-4{% endblock %} #}

{% block topbar_base %}
<header>
  <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top bg-inverse  nav{% endblock %}">
    <div class="container-fluid">
      <div class="navbar-header ">
          {# TODO: verificar que estoy en home y de ser asi no mostrar el icono #}
          {% block menu-icon %}
            <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
              <i class="fa fa-bars"></i>
            </a>
          {% endblock %}
      </div>
      <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="{% url 'home' %}" class="white-text">InvMachine <span class="sr-only">(current)</span></a></li>
        </ul>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            {% block nav %}
              {% block account_bar %}{% include "components/_account_bar.html" %}{% endblock %}
            {% endblock %}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block web_base %}

<main class="mdl-layout__content">
  {% block body_base %}
  <section id="content_body">
    <div class="container">
      {% include "_messages.html" %}
      {% block body %}
      {% endblock %}
    </div>
  </section>
  {% endblock %}
  {% block extra_head_base %}
      {% block extra_head %}{% endblock %}
  {% endblock %}
</main>
{% endblock %}

{% block footer_base %}
  {% include "components/_footer.html" %}
{% endblock %}
