{% load i18n %}
{% load account_tags %}
<ul class="nav navbar-nav pull-right white-text">
    {% if request.user.is_authenticated %}
        <li class="white-text dropdown">
            <a href="" class="white-text dropdown-toggle" data-toggle="dropdown">
                <i class="white-text fa fa-user"></i>
                {% user_display request.user %}
                <b class="white-text caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'account_settings' %}" tabindex="-1">
                    {% trans "Configuración" %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'user_portfolios' %}" tabindex="-1">
                    {% trans "Portafolios" %}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{% url 'account_settings' %}">
                    <i class="fa fa-cog"></i> {% trans "Configuración" %}
                  </a>
                </li>
                <li>
                    <a id="account_logout" href="{% url 'account_logout' %}">
                      <i class="fa fa-power-off"></i> {% trans "Cerrar Sesión" %}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li><a class="white-text" href="{% url 'account_login' %}">{% trans 'Iniciar Sesión' %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a class="white-text" href="{% url 'account_signup' %}">{% trans 'Regístrate' %}</a></li>
        {% endif %}
    {% endif %}
</ul>
<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST"
      class="white-text">
    {% csrf_token %}
</form>
