{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}

    <div class="row whitesmoke" layout="row" layout-align="center center" layout-margin >
      <div class="col m4 offset-m4  ">
        <md-card  class="grey lighten-2">
          <md-card-header class="white">
            <md-card-avatar>
              <i class="fa fa-user"></i>
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title">
                {% trans "Log in" %}
              </span>
              {# <span class="md-subhead">Sub header</span>#}
            </md-card-header-text>
          </md-card-header>
          <md-card-content class="grey lighten-3">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} class="center">
                <span class="left col s12">
                  {% csrf_token %}
                  {{ form|bootstrap }}
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="input-field  white"/>
                  {% endif %}
                </span>

                <button type="submit" class="btn white black-text ">{% trans "Log in" %}</button>
            </form>
          </md-card-content>

           <md-card-actions layout="row" layout-align="start center">
            {% if ACCOUNT_OPEN_SIGNUP %}
                <p class="login-signup">
                    <small class="col s6 center">
                      <a href="{% url "account_password_reset" %}" class="">{% trans "¿Olvidaste tu contraseña?" %}</a>
                    </small>


                    <small class="center col s6">
                        <strong><a href="{% urlnext 'account_signup' %}">{% trans "Crear un cuenta" %}</a></strong>
                    </small>
                </p>
            {% endif %}
             <md-card-actions >
        </md-card>
        </div>
        <div class="col-md-4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
{% block footer_base %}
    {% include "_footer.html" %}
{% endblock %}
