{% load staticfiles %}
{% load i18n %}
{% block body_class %}{% endblock %}
{% block menu-icon %}{% endblock %}

{% block extra_head %}
    <title>InvMachine | LogIn </title>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
{% endblock %}
{% block scripts %}
    {% include "_conScripts.html" %}
{% endblock %}

{% block styles %}
    {% include "_styles.html" %}
    {% include "_conStyles.html" %}
{% endblock %}

{% block body_base %}

<section id="sign-in">

    <!-- Sign In Form -->
    <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}

        <div class="card-panel clearfix">

            <!-- Social Sign Up -->
            <div class="row socials">
                <div class="col s12 m4">
                    <a class="btn blue darken-2 z-depth-0 z-depth-1-hover" href="#">
                      <img src="{% static 'img/yahoo.svg' %}" alt="" class="logo-login"/>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a class="btn blue lighten-2 z-depth-0 z-depth-1-hover" href="#">
                        <img src="{% static 'img/outlook.svg' %}" alt="" class="logo-login"/>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a class="btn red z-depth-0 z-depth-1-hover" href="{% url "social:begin" "google-oauth2" %}"><i class="fa fa-2x fa-google-plus"></i></a>
                </div>
            </div>
            <!-- /Social Sign Up -->

            <div class="row">
                <div class="col s12"></div>
            </div>

            <!-- Username -->
            <div class="input-field">
                <i class="fa fa-user prefix"></i>
                {{form.username}}
                <label for="username-input">{% trans "Email" %}</label>
            </div>
            <!-- /Username -->

            <!-- Password -->
            <div class="input-field">
                <i class="fa fa-unlock-alt prefix"></i>
                {{form.password}}
                <label for="password-input">{% trans "Contraseña" %}</label>
            </div>
            <!-- /Password -->

            <div class="switch">
                <label>
                    <input type="checkbox" checked />
                    <span class="lever"></span>
                    {% trans "Recordarme" %}
                </label>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="input-field  white"/>

            {% endif %}

            <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover">{% trans "Iniciar Sesión" %}</button>
        </div>

        <div class="links middle">
            <a  href="{% url 'account_password_reset' %}">{% trans "¿Olvidaste la contraseña?" %}</a>
        </div>
        <div class="row links">
            <div class="col s6 offset-s3 center-align">
                <strong>{% trans "Iniciar Sesión" %}</strong> / <a class="white-text" href="{% url 'account_signup' %}">{% trans "Regístrate" %}</a>
              </div>
        </div>
    </form>
    <!-- /Sign In Form -->

</section>

{% endblock %}
