{% extends "dashboard/dashboard_base.html" %}
{% load i18n %}
{% block head_title %}Dashboard{% endblock %}
{% load staticfiles %}



{% block dashboard-content %}
<div class="page-title">
  <h1>Gastos Personalizados</h1>
</div>

<div class="card-panel">
  <div class="row">


    <div class="col s6 ">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select id="enter">
          <option value="" disabled selected>Elije una empresa</option>
          {% for s in supliers %}
            <option value="{{ s.NombreEmisor }}">{{ s.NombreEmisor }} / {{ s.count }}</option>
          {% endfor %}
        </select>
        <div id="tagsembed" class="" data-url="{% url 'tagsconsult' ruc %}">
        </div>
        {# {{form.as_p}}#}
        <div class="col offset-s5">
          <button id="submiTag" data-url="{% url 'savetags' ruc %}" class="btn fs1" type="button"> Submit <i class="mdi-content-send right"></i> </button>
        </div>
      </form>
      <a id="" href="{% url 'user_dashboard' ruc %}" class="btn fs1" type="button"> Regresar a Portafolio</i> </a>

    </div>
  </div>
</div>
{% block additional_js %}
{% endblock additional_js %}

<script type="text/javascript">
$(document).ready(function() {
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  var csrftoken = Cookies.get('csrftoken');
  var enterprice_selected = ""
  $('#enter').on('change', function() {
    jsonData = {};
    enterprice_selected = this.value;
    jsonData['value'] = this.value;
    console.log(jsonData);
     $.ajax({
        url: $('#tagsembed').data('url'),
        type: "POST",
        data: JSON.stringify(jsonData),
        dataType: "json",
        contentType: 'application/json; charset=UTF-8',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: function(data){
          $('#tagsembed').html(data.html_form);
          $('#tags2').tagsInput();
        },
        error: function (data) {
            alert("Something went wrong!"+data);
            console.log(data);
        }
    });
  });

  $("#submiTag").click(function(){
    jsonData={}
    jsonData['tags'] = $('#tags2').val();
    jsonData["enterprice"] = enterprice_selected
    console.log(jsonData)
    $.ajax({
       url: $('#submiTag').data('url'),
       type: "POST",
       data: JSON.stringify(jsonData),
       dataType: "json",
       contentType: 'application/json; charset=UTF-8',
       beforeSend: function(xhr, settings) {
         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
           }
       },
       success: function(data){
         alert("Tus gastos se actulaizaron")
       },
       error: function (data) {
           alert("Something went wrong!"+data);
           console.log(data);
       }
   });
  });

});
</script>

{% endblock %}
