{% load staticfiles %}
{% load i18n %}
{% load account_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
    {% endblock %}{% endblock %}</title>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block styles %}
      {% include "_dashboardStyles.html" %}
    {% endblock %}


    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>

{% block menu-icon %}{% endblock %}
{% block body_class %}home yay-static{% endblock %}

{% block topbar_base %}
  {% include "components/_topbar_base.html" %}
{% endblock %}

{% block body_base %}
  {% block sidebar %}
    {% include "components/_yaySidebar.html" %}
  {% endblock %}
  <!-- Main Content -->
  <section class="content-wrap">
    {% block dashboard-content %}
    {% endblock %}
  </section>
  <!-- /Main Content -->
{% endblock %}

{% block extra_body_base %}
    {# {% analytics %}#}
    {% block extra_body %}
        {% if  user.is_authenticated %}
          <!-- Modal Trigger -->
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large modal-trigger pulse btn tooltipped pink " href="#modal1" data-position="left" data-delay="50" data-tooltip="Agregar facturas">
                <i class="material-icons" style="font-size:40px;">add</i>
            </a>
            <ul>
                <li>
                  <!-- <a href="modal2"  class="btn-floating red modal-trigger pulse btn tooltipped tooltipped"  data-position="left" data-delay="50" data-tooltip="Agregar facturas de Google">
                  <i class="fa fa-google"></i></a> {% url 'googleImport' %} -->
                  <a id="gajax" action="{% url 'googleImport' %}" class="btn-floating  modal-trigger pulse btn tooltipped red " href="#modal2" data-position="left" data-delay="50" data-tooltip="Agregar facturas">
                      <i class="fa fa-google"></i>
                  </a>
                </li>
                <li>
                  <a href="{% url "social:begin" "msn-live-connect" %}" class="btn-floating blue tooltipped" data-position="left" data-delay="40" data-tooltip="Agregar cuenta de Outlook">
                  <i class="material-icons">mail_outline</i></a></li>
                <li>
                  <a href=" {% url 'uploadmanual' %}" class="btn-floating green modal-trigger tooltipped" data-position="left" data-delay="60" data-tooltip="Agregar factura manualmente" >
                    <i class="material-icons">create</i>
                  </a>
                </li>
            </ul>
          </div>
          <div id="modal1" class="modal-fixed-footer modal fade modal-close" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-content flow-text card-panel content ">
              <div class="modal-header card-title pt30">
                <h3 class="center blue-text text-darken-2" id="exampleModalLabel">
                    Subir Factura
                </h3>
              </div>
              <div class="modal-body card-content row upload-modal" >
                <form id=uploadForm action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="file-field input-field col s12">
                    <div class="btn waves-effect waves-light blue darken-2">
                      <span class="fs1">AÑADE TUS FACTURAS</span>
                      <input type="file" name="docfile" multiple>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" accept=".xml"
                               placeholder="Sube tus archivos">
                    </div>
                  </div>
                  <br>
                  <div class=""> <p id="ajaxMessage1" ></p>

                  </div>
                  <div class="col offset-s5">
                    <button class="btn fs1" type="submit" id="but_upload" name="action"> Submit <i class="mdi-content-send right"></i> </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <!-- Modal Structure -->
          <div id="modal2" class="modal-fixed-footer modal fade modal-close " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-content flow-text card-panel content modal-close ">
              <div class="modal-header card-title pt30">
                <h3 class="center blue-text text-darken-2" id="exampleModalLabel">
                    Importando Facturas de Google
                </h3>
              </div>
              <div class="modal-body card-content row upload-modal">
                <div id="ajaxMessage2" class="">
                </div>
                <div class="container pt20 mb20">
                  <div class="center ">
                    <div class="preloader-wrapper small active ">
                      <div class="spinner-layer spinner-blue">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                              <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                      </div>

                      <div class="spinner-layer spinner-red">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                              <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                      </div>

                      <div class="spinner-layer spinner-yellow">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                              <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                      </div>

                      <div class="spinner-layer spinner-green">
                          <div class="circle-clipper left">
                              <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                              <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <!-- Modal Trigger -->

        {% endif %}
    {% endblock %}
    {% block scripts %}
      {% include "_conScripts.html" %}
    {% endblock %}
    </html>
{% endblock %}
