{% extends "dashboard/dashboard_base.html" %}
{% load i18n %}
{% block head_title %}Dashboard{% endblock %}

{% block dashboard-content %}

<div class="page-title">
    {# <div class="row">#}
        {# <div class="col s12 m9 l10">#}
            <h1>Dashboard</h1>
        {# </div>#}
    {# </div>#}
</div>


<div class="row ">
  <hr class="portfolio-divider col s12">
  {% if object_list %}
      {% for portafolios  in object_list %}
          <div class="col s12 m4">
            <div class="card">
              <a href="{% url 'user_dashboard' portafolios.Ruc %}">
                <div class="card-image gradiant-purple " style="padding:2em 3em 1em 2em;">
                      <div class="portfolio-card-header">
                        <p class="portfolios-card-title white-text truncate">{{ portafolios.Nombre }} </p>
                        <h5 class="white-text ">
                          USD{{ portafolios.total_gastos }}
                        </h5>
                        <hr>
                        <p class="portfolios-card-title white-text ">{{ portafolios.Ruc }}</p>
                      </div>
                </div>
                <div class="portfolio-card-content">
                  <p class="details">Detalles</p>
                  <span class="portfolio-card-amount">
                    <i class="fa fa-credit-card btn-floating center grey"></i>
                    Consumos
                    <span class="right">
                      ${{ portafolios.total_portafolio }}
                    </span>
                  </span>
                  <hr>
                  <span class="portfolio-card-amount">
                    <i class="fa fa-percent btn-floating center grey"></i>
                    Impuestos
                    <span class="right">
                      ${{ portafolios.total_impuestos }}

                    </span>
                  </span>

              </div>
              </a>
            </div>
          </div>
      {% endfor %}
  {% else %}
      <h4>No hay portfolios registrados.</h4>
      <hr>
      <h5>Agrega un porfafolio haciendo click <br>en el simbolo de <i class="fa fa-plus-circle"></i></h5>
  {% endif %}
</div>
{% endblock %}
